<?xml version="1.0"?>
<launch>

	<!-- send ROBOT parameters to parameter server -->
	<rosparam command="load" ns="/android/settings/topic_names" file="$(find cob_android_settings)/config/topic_names.yaml"/>
	<rosparam command="load" ns="/android/settings/service_names" file="$(find cob_android_settings)/config/service_names.yaml"/>
	<rosparam command="load" ns="/android/settings/strings" file="$(find cob_android_settings)/config/strings.yaml"/>
	<rosparam command="load" ns="/command_gui/control_buttons" file="$(find cob_default_robot_config)/$(env ROBOT)/command_gui_buttons.yaml"/>	
	<rosparam command="load" ns="/command_gui/nav_buttons" file="$(find cob_default_env_config)/$(env ROBOT_ENV)/command_gui_buttons.yaml"/>
	<rosparam command="load" ns="/android/settings/categories_groups" file="$(find cob_android_settings)/config/categories_groups.yaml"/>	
</launch>
